body {
    background-color: rgb(255, 255, 255);
}

main {
    background-color: rgb(255, 255, 255);
    border: solid;
    border-radius: 10px;
    margin-top: 100px;
    margin-right: 200px;
    margin-left: 200px;
    padding: 20px;
}

header {
    background-color: rgb(255, 255, 255);
}